.contect {
    width: 100%;
    height: auto;
}

.contect .cont_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contect .cont_title h1 {
    font-size: 3rem;
    border-bottom: 5px solid rgb(245, 204, 4);
    border-radius: 10px;
    padding-bottom: 10px;
}

.contect .form_box {
    width: 100%;
    height: auto;
}

.contect .form_box .forms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contect .form_box .forms label {
    font-size: 20px;
}

.contect .form_box .forms input {
    color: rgb(71, 71, 71);
    padding: 0 10px;
    width: 400px;
    height: 36px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    border: 0.01px solid rgba(0, 166, 255, 0.209);
}

.contect .form_box .forms .ms {
    color: rgb(71, 71, 71);
    padding: 5px 10px;
    width: 400px;
    height: 36px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    border: 0.01px solid rgba(0, 166, 255, 0.209);
    height: 150px;
    resize: none;
}

.contect .form_box .btn {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
    cursor: pointer;
}

.contect .form_box .btn button {
    outline: none;
    border: none;
    background: none;
    background: #f5ba27;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.contect .socailmedia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contect .socailmedia i {
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}

.contect h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 9px;
    color: rgba(128, 128, 128, 0.885);
}

.img img {
    width: 100%;
}

@media only screen and (max-width: 550px) {
    
}